<div class="section survey_questions">
  <h1>Survey Questions</h1>

  <div class="categories">
    <%= link_to "All",
      { :action => "get_questions", :category => "all", :item => "survey_question" },
      :remote => true, :id => "cat-all" %>

    <div class="add_category">
      <%= link_to "Add", new_survey_question_category_path, :remote => true %>
    </div>

    <%= render 'survey/survey_question_categories/question_categories', :parent => nil,
      :item => "survey_question" %>
  </div>

  <div class="list_content">
    <div class="add_question">
      <%= link_to "Add", new_survey_question_path, :remote => true %>
    </div>

    <table id="questions_list" class="survey_questions display">
      <thead>
        <th>Title</th>
        <th>Version</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <%= render @survey_questions %>
      </tbody>
    </table>
  </div>
</div>